<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>System of Equations</title>
    <link rel="stylesheet" type="text/css" href="src/static/style.css">
</head>
<body>

<h1>System of Equations</h1>
<h2>Enter two equations</h2>

<div class = "body">
    <form method="POST" action="/">
        <label></label><input name="x1" type="number" step = "any" /> X <sub>1</sub> +
        <label></label><input name="y1" type="number" step = "any" /> Y <sub>1</sub> =
        <label></label><input name="c1" type="number" step = "any" />

        </br>

        <label></label><input name="x2" type="number" step = "any" /> X <sub>2</sub> +
        <label></label><input name="y2" type="number" step = "any" /> Y <sub>2</sub> =
        <label></label><input name="c2" type="number" step = "any" />

        <br>

        <input type="submit" value="submit" />
    </form>
</div>
</body>
</html>